.text {
  color: var(--main-black-900) !important;
  font-family: "YS Text" !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 20px !important;
}

.input {
  width: 277px;
  margin-right: 24px;
}

.placeholder {
  padding: "10px 12px";
  color: var(--main-black-500) !important;
}
