.modal {
  width: 364px;
  min-height: 110px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.modalMenu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

.title {
  font-family: YS Text;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--main-black-900);
  margin: 0;
}

.readAllButton {
  font-family: YS Text;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--main-blue-main);
  border: none;
  background: none;
  cursor: pointer;
}

.inbox {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.emptyPic {
  width: 32px;
  height: 32px;
  align-self: center;
  background-image: url(../../../../images/tabler_message-check.svg);
  background-size: cover;
}

.emptyMessage {
  font-family: YS Text;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--main-black-900);
}