.card {
  width: 232px;
  height: 242px;
  padding: 24px;
  border: 1px solid #dde0e4;
  border-radius: 12px;
  box-shadow: 2px 0px 12px 0px #83828240;
  display: flex;
  flex-direction: column;
  gap: 36px;
  cursor: pointer;
  transition: box-shadow 0.2s, opacity 0.2s linear;
}

.card:hover {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}

.description {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.info {
  display: flex;
  gap: 12px;
  flex-direction: row;
  align-items: center;
}

.img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
}

.profile {
  display: flex;
  flex-direction: column;
  max-width: 162px;
}

.applicant {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.name {
  font-family: YS Text;
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tag {
  font-family: YS Text;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
}

.infoList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.infoItem {
  font-family: YS Text;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.span {
  font-weight: 500;
}

.button {
  height: 40px;
  width: 105px;
}
