.form {
  margin: 28px 0 0;
  width: 945px;
  display: flex;
  flex-direction: column;
}

.fieldset {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
}

/* добавлено */
.inputSection {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

/* добавлено */
.input {
  color: var(--main-black-900);
  font-family: "YS Text";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-top: 4px !important;
  width: 320px;
}

.diapason {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.buttonWrapper {
  margin: 0;
  padding: 0;
  width: 250px;
  margin: 30px auto 0;
}

.mainFieldset {
  width: 100%;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fieldsetColumns {
  display: flex;
  margin: 0;
  padding: 0;
  border: none;
}

.multiLineInput {
  width: 450px;
  margin-top: 4px !important;
}

.column {
  display: flex;
  flex-direction: column;

}

/* добавлено */
.label {
  color: var(--main-black-900);
  font-family: "YS Text";
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.checkboxWrapper {
  margin-left: 10px;
  margin-bottom: 6px;
  margin-top: 24px;
}

.dropDownList {
  color: var(--main-black-900) !important;
  font-family: "YS Text" !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 20px !important;
}

/* добавлено */
.error {
  margin-top: 4px;
  height: 12px;
  color: var(--main-red, #ff0200);
  font-family: "YS Text";
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
}