.wrapper {
  margin-bottom: 40px;
}

.student {
  margin: 20px 0 0;
  max-width: 1025px;
  background-color: var(--main-white);
  display: flex;
  overflow-y: auto;
  justify-content: space-between;
}

.student::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: rgba(26, 27, 34, 0.2);
}

.student::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}

.studentInfo {
  font-size: 16px;
  font-style: normal;
  color: var(--main-black-900);
  font-weight: 400;
  line-height: 20px;
}

.name {
  margin: 0;
  padding: 0;
  font-family: "YS Display";
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

.city {
  margin: 4px 0 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
}

.image {
  width: 160px;
  height: 160px;
  border-radius: 12px;
  object-fit: cover;
}

.subtitle {
  padding: 0;
  font-size: 16px;
  font-weight: 500;
}

.text {
  overflow-wrap: break-word;
  max-width: 796px;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
}

.about {
  overflow-wrap: break-word;
  max-width: 796px;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  min-height: 87px;
}

.middleInfo {
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
}

.title {
  margin: 0 0 10px 0;
  padding: 0;
  font-family: "YS Display";
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.statistics {
  margin: 0 24px 0 4px;
  padding: 0;
  list-style: none;
}

.statistic {
  text-align: center;
  border-radius: 6px;
  padding: 10px 0;
  width: 133px;
}

.statistic:not(:last-of-type) {
  margin-bottom: 8px;
}

.mainInfoElement {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: start;
  gap: 4px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.mainInfoElement:not(:last-of-type) {
  margin-bottom: 6px;
}

.mainInfoElementContacts {
  display: flex;
  flex-direction: column;
}

.mainInfo {
  list-style: none;
  margin: 0 0 0 52px;
  padding: 0;
}

.contactsList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact:not(:last-of-type) {
  margin-bottom: 2px;
}

.link {
  color: var(--main-black-500);
  text-decoration-line: underline;
}

.bottomInfo {
  margin-top: 32px;
}
