.container {
  display: flex;
  justify-content: center;
}

.addButton {
  box-shadow: none !important;
  padding: 10px 20px !important;
  background-color: var(--main-blue) !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-family: "YS Text" !important;
  font-weight: 500 !important;
  line-height: 20px !important;
  text-transform: initial !important;
  border-radius: 6px !important;
}

.addButton:hover {
  background-color: #1d6bf3 !important;
}

.deleteButton {
  box-shadow: none !important;
  padding: 10px 20px !important;
  background-color: var(--main-grey) !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-family: "YS Text" !important;
  font-weight: 500 !important;
  line-height: 20px !important;
  text-transform: initial !important;
  border-radius: 6px !important;
  color: var(--main-black-500) !important;
  opacity: 1 !important;
  transform: opacity ease 1s !important;
}

.deleteButton:hover {
  opacity: .8 !important;
}

.snackBar {
  width: 350px;
  height: 114px;
  border-radius: 12px;
  background-color: var(--main-blue);
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.snackContent {
  width: 350px;
  height: 104px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding-top: 10px;
}

.snackImg {
  min-width: 64px;
  min-height: 64px;
  background-image: url(../../../../../images/ass-ok.svg);
  background-size: 64px 64px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 24px;
}

.snackMessage {
  width: 220px;
  height: 64px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  margin-left: 8px;
}

.snackTitle {
  font-family: YS Text;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--main-white);
  margin: 0;
}

.snackTarget {
  font-family: YS Text;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  color: var(--main-white);
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}