.container {
  /* margin: 0; */
}

.title {
  margin: 0;
  margin-bottom: 40px;
}

.activeVacancies {
  padding: 0;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.titleContainer {
  max-width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


.list {
  width: 100%;
  max-height: 70vh;
  list-style: none;
  padding: 8px 0 8px 8px;
  margin: 0 0 32px 0;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  overflow-y: scroll;
  justify-self: flex-start;
}

.buttonFixed {
  position: fixed;
  right: 60px;
  bottom: 60px;
  z-index: 1;
}

.list::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: rgba(26, 27, 34, 0.2);
}

.list::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}