.title {
  margin: 0;
  margin-bottom: 40px;
}

.activeVacancies {
  padding: 0;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.titleContainer {
  max-width: 98%;
  display: flex;
  justify-content: space-between;
  align-items:flex-start ;
}

.list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 30px;
  align-items: center;
  flex-wrap: wrap;
}

.buttonFixed {
  position: fixed;
  right: 60px;
  bottom: 60px;
}
