.fieldset {
  border: none;
  max-width: 250px;
  text-align: left;
  margin: 0;
  padding: 0 auto;
}

.input {
  margin-bottom: 24px !important;
}

.text {
  margin: 0 0 24px;
  padding: 0;
  color: #696981;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.additionalButton {
  text-align: right;
  display: block;
  text-decoration: none;
  margin: 4px 0 24px;
  color: #1d6bf3;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;

  -webkit-transition: opacity 0.2s, opacity 0.2s linear;
  -o-transition: opacity 0.2s, opacity 0.2s linear;
  transition: opacity 0.2s, opacity 0.2s linear;
}

.additionalButton:hover {
  opacity: 0.7;
}
