.button {
  color: var(--main-black-900) !important;
  text-transform: initial !important;
  font-family: "YS Text" !important;
  font-size: 18px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: 24px !important;
}

.menuButton {
  font-size: 14px !important;
  line-height: 20px !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  width: 278px !important;
  padding: 0 !important;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  padding: 12px 10px 0px !important;
}

.menuItem {
  width: 278px !important;
  padding: 0px !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  justify-content: flex-start !important;
}

.menuItem:hover,
.menuItem:active {
  background-color: transparent !important;
}

.fieldset {
  display: none;
  padding: 0;
  margin: 0;
  border: none;
}

.fieldsetVisible {
  display: flex;
  padding: 0;
  margin: 0;
  border: none;
}

.city {
  flex-direction: column;
  margin: 10px 0 10px;
  width: 278px;
}

.chip {
  margin-top: 10px !important;
  width: 141px !important;
  background-color: var(--main-blue-bg) !important;
}

.buttonDelete {
  padding: 5px !important;
  text-transform: initial !important;
  color: var(--main-black-900) !important;
  font-family: "YS Text" !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 20px !important;
}

.deleteIcon {
  width: 16px;
  height: 16px;
}
