.modal {
  width: fit-content;
  height: fit-content;
  padding: 40px 24px 40px 40px;
  margin: auto;
  border-radius: 20px;
  background-color: var(--main-white);
  position: relative;
}

.overlay {
  height: 100vh;
  display: flex;
}

.button {
  background: transparent;
  /* border: 1px solid red; */
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  -webkit-transition: opacity 0.2s, opacity 0.2s linear;
  -o-transition: opacity 0.2s, opacity 0.2s linear;
  transition: opacity 0.2s, opacity 0.2s linear;
}

.button:hover {
  opacity: 0.7;
}
