.container {
  margin-right: 24px;
}

.title {
  margin: 0;
  margin-bottom: 26px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 32px;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  overflow-y: scroll;
  max-height: calc(100vh - 90px);
  padding-left: 10px;
  padding-top: 10px;
}

.list::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: rgba(26, 27, 34, 0.2);
}

.list::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}
