.list {
  height: 100%;
  list-style: none;
  padding: 32px 0 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item {
  margin-top: auto;
}

.link {
  text-decoration: none;
  color: var(--main-black-300);
  padding-left: 28px;
  background-repeat: no-repeat;
  background-position: left;
}

.link:hover {
  color: var(--main-white);
}

.link_type_applicants {
  background-image: url(../../../images/Users\ \(1\).svg);
}

.link_type_vacancies {
  background-image: url(../../../images/Folder\ \(1\).svg);
}

.link_type_statistics {
  background-image: url(../../../images/ChartPieSlice\(unactive\).svg);
}

.link_type_planer {
  background-image: url(../../../images/diary.svg);
}

.link_type_settings {
  background-image: url(../../../images/Gear.svg);
}

.link_type_logout {
  background-image: url(../../../images/SignOut\ \(1\).svg);
}