.list {
  list-style: none;
  padding: 32px 0 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.link {
  text-decoration: none;
  color: var(--main-black-300);
}

.link:hover {
  color: var(--main-white);
}
