@import url(./fonts/fonts.css);

p,
h1,
h2,
h3,
h4 {
  caret-color: transparent;
}

body {
  margin: 0;
  font-family: "YS Text", "Arial", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
